@page "/gamecatalog"
@using CleanArchitecture.Blazor.ViewModels.GameCatalog


<PageTitle>Game Catalog</PageTitle>

<h3>Game Catalog</h3>

<table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
    <th class="text-center">Id</th>
    <th>Name</th>
    <th class="text-center">Genre</th>
    <th class="text-end">Price</th>
    <th class="text-center">Year</th>
    <th class="text-center">Action</th>
    </thead>
    <tbody>
        @foreach(var game in gameCatalogs)
        {
            <tr>
                <td class="text-center text-dark">@game.Id</td>
                <td>@game.Name</td>
                <td class="text-center">@game.Genre</td>
                <td class="text-end">@game.Price.ToString("c2")</td>
                <td class="text-center">@game.Year</td>
                <td class="text-center">Edit</td>
            </tr>
        }

    </tbody>
</table>


@code
{
    ViewGameCatalogViewModel[] gameCatalogs =
    [
        new()
            {
                Id = 1,
                Name = "Street Figher",
                Genre = "Action",
                Price = 150,
                Year = 2010
            },
        new()
            {
                Id = 2,
                Name = "Call of Duty",
                Genre = "Action",
                Price = 140,
                Year = 2011
            },
        new()
            {
                Id = 3,
                Name = "Medal Of Honor",
                Genre = "War",
                Price = 250,
                Year = 2015
            },
        new()
            {
                Id = 4,
                Name = "Zomaa",
                Genre = "Family",
                Price = 90,
                Year = 2018
            },
        new()
            {
                Id = 5,
                Name = "Freedom Figher",
                Genre = "Action",
                Price = 170,
                Year = 2019
            }
    ];

}
