@using CleanArchitecture.Blazor.ViewModels.Game

@page "/game/list"

@inject IGamesClient GamesClient
@inject ListGameViewModel ViewModel


@code
{
    //Called When Sending Parameters to Component from its Parent
    protected override void OnParametersSet()
    {

    }

    //Called When Component is ready to start and its parameters was set
    protected override void OnInitialized()
    {
        ViewModel.GamesList = GamesClient.GetGamesList();
    }

}


<PageTitle>Games List</PageTitle>

<div class="row mb-2">
    <div class="col-md-6">
        <h3>Games List</h3>
    </div>

    <div class="col-md-6">
        <a class="btn btn-primary" style="float:right;" role="button" href="/game/add">
            <i class="bi bi-plus"></i>
            New Game
        </a>
    </div>

</div>


@if (ViewModel.GamesList.Any())
{
    <table class="table table-bordered table-hover table-striped">

        <thead class="table-dark">
        <th class="text-center">Id</th>
        <th>Name</th>
        <th class="text-center">Genre</th>
        <th class="text-end">Price</th>
        <th class="text-center">Year</th>
        <th class="text-center">Action</th>
        </thead>

        <tbody>
            @foreach (var game in ViewModel.GamesList)
            {
                <tr>
                    <td class="text-center text-dark">@game.Id</td>
                    <td>@game.Name</td>
                    <td class="text-center">@game.Genre.Name</td>
                    <td class="text-end">@game.Price.ToString("c2")</td>
                    <td class="text-center">@game.Year</td>
                    <td class="text-center">
                        <a href="/game/edit/@game.Id" class="btn btn-secondary" role="button">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="bg-warning">
        Sorry No Game Catalogs
    </div>
}

